@using Discord
@model AdminViewModel
@{
	ViewData["Title"] = "Администрация";
}

<div class="text-center">
	<h1 class="display-4">Основатель</h1>
	<div class="card mb-3 mx-auto" style="max-width: 512px;">
		<div class="row no-gutters">
			<div class="col-md-3">
				@{ var avatar = Model.Owner.GetAvatarUrl() ?? Model.Owner.GetDefaultAvatarUrl(); }
				<img class="card-img" src="@avatar">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">@Model.Owner.Nickname</h5>
					@if (Model.Owner.Status == UserStatus.Online)
					{
						<p class="card-text"><small>Статус: <span class="text-success">В сети</span></small></p>
					}
					else if (Model.Owner.Status == UserStatus.Idle)
					{
						<p class="card-text"><small>Статус: <span class="text-warning">Отошёл</span></small></p>
					}
					else if (Model.Owner.Status == UserStatus.DoNotDisturb)
					{
						<p class="card-text"><small>Статус: <span class="text-danger">Не беспокоить</span></small></p>
					}
					else
					{
						<p class="card-text"><small>Статус: <span class="text-muted">Не в сети</span></small></p>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<h3 class="display-4"><a id="Destiny2"></a> Церберы Destiny 2</h3>
	<table class="table table-hover">
		@foreach (var user in Model.D2Cerberus)
		{
			var userAvatar = user.GetAvatarUrl() ?? user.GetDefaultAvatarUrl();
			var userName = user.Nickname ?? user.Username;
			<tr>
				<td><img class="img-thumbnail" src="@userAvatar" alt="@user.Username" style="max-height:3rem;"></td>
				<td>@userName</td>
				@if (user.Status == UserStatus.Online)
				{
					<td class="text-success">В сети</td>
				}
				else if (user.Status == UserStatus.Idle)
				{
					<td class="text-warning">Отошёл</td>
				}
				else if (user.Status == UserStatus.DoNotDisturb)
				{
					<td class="text-danger">Не беспокоить</td>
				}
				else
				{
					<td class="text-muted">Не в сети</td>
				}
			</tr>
		}
	</table>
	<h3 class="display-4"><a id="LostArk"></a>Церберы Lost Ark</h3>
	<table class="table table-hover">
		@foreach (var user in Model.LACerberus)
		{
			var userAvatar = user.GetAvatarUrl() ?? user.GetDefaultAvatarUrl();
			var userName = user.Nickname ?? user.Username;
			<tr>
				<td><img class="img-thumbnail" src="@userAvatar" alt="@user.Username" style="max-height:3rem;"></td>
				<td>@userName</td>
				@if (user.Status == UserStatus.Online)
				{
					<td class="text-success">В сети</td>
				}
				else if (user.Status == UserStatus.Idle)
				{
					<td class="text-warning">Отошёл</td>
				}
				else if (user.Status == UserStatus.DoNotDisturb)
				{
					<td class="text-danger">Не беспокоить</td>
				}
				else
				{
					<td class="text-muted">Не в сети</td>
				}
			</tr>
		}
	</table>
	<h3 class="display-4"><a id="Warframe"></a>Церберы Warframe</h3>
	<table class="table table-hover">
		@foreach (var user in Model.WFCerberus)
		{
			var userAvatar = user.GetAvatarUrl() ?? user.GetDefaultAvatarUrl();
			var userName = user.Nickname ?? user.Username;
			<tr>
				<td><img class="img-thumbnail" src="@userAvatar" alt="@user.Username" style="max-height:3rem;"></td>
				<td>@userName</td>
				@if (user.Status == UserStatus.Online)
				{
					<td class="text-success">В сети</td>
				}
				else if (user.Status == UserStatus.Idle)
				{
					<td class="text-warning">Отошёл</td>
				}
				else if (user.Status == UserStatus.DoNotDisturb)
				{
					<td class="text-danger">Не беспокоить</td>
				}
				else
				{
					<td class="text-muted">Не в сети</td>
				}
			</tr>
		}
	</table>
</div>
